body {
  position: relative;
}

.auth-container {
  position: absolute;
  flex-direction: column;
  top: 50vh;
  left: 50%;
  width: 30%;
  transform: translate(-50%, -50%);
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth h2{
  font-size: 4.8rem;
  color: var(--main-color);
  text-align: center;
  display: inline-block;
  padding: 0.6rem;
  margin: 0 auto;
  border-bottom: solid 4px var(--main-color);
}

.auth {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 3.2rem;
  width: 100%;
  border-radius: 16px;
  background-color: var(--main-color-light);
  box-shadow: 3px 3px 30px 3px rgba(0, 0, 0, 0.1);
  height: fit-content;
}

.auth input {
  letter-spacing: 0.5px;
  margin-bottom: 0.8rem;
  color: #444;
  font-size: 1.6rem;
  text-align: center;
  background-color: var(--very-light-white);
  padding: 0.8rem;
  border-radius: 24px;
  border: solid 2px var(--main-color-light);
  transition: all 0.6s;
}

.auth input:hover {
  border-color: rgb(226, 166, 166);
}

.auth input:focus {
  outline: none;
  border: solid 2px var(--main-color);
}

.auth button {
  box-shadow: 3px 3px 30px 3px rgba(0, 0, 0, 0.1);
  align-self: center;
  border: solid 3px var(--main-color);
}

.auth button:hover {
  transform: translateY(0);

  border: solid 2px var(--main-color-light);
  box-shadow: 3px 3px 40px 5px rgba(0, 0, 0, 0.2);
  border: solid 3px rgb(102, 47, 47);
}

.auth button:focus {
  outline-color: var(--main-color-dark);
}

.auth .error {
  color: rgb(128, 25, 25);
  font-weight: 500;
  font-size: 1.6rem;
  display: inline-block;
  padding: 0.8rem;
  border-radius: 8px;
  background-color: rgb(236, 192, 192);
  border: solid 2px rgb(230, 108, 108);
}
