*{
  box-sizing: border-box;
  margin: 0;
}
html{
  font-size: 10px;
}
body {
  color: var(--mid-black);
  background-color: var(--very-light-white);
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  
section{
  margin-bottom: 10.4rem;
}
.container{
  margin-left: 8.8rem;
  margin-right: 8.8rem;
}

.container-m{
  margin-left: auto;
  margin-right: auto;
  max-width: 100rem;
}

.section-title{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title span{
  color: #ac3b35;
  font-size: 1.6rem;
  letter-spacing: 1.25px;
  font-weight: 500;
}

.section-title h1{
  color: var(--light-black);
  font-size: 4.8rem;
  margin-bottom: 3.2rem;
}

/* HELPERS */

.margin-xs{
  margin-bottom: 0.8rem;
}

.margin-s{
  margin-bottom: 1.6rem;
}

.margin-m{
  margin-bottom: 2.4rem;
}

.margin-l{
  margin-bottom: 3.2rem;
}

.margin-xl{
  margin-bottom: 4rem;
}

.flex-center{
  display: flex;
  flex-direction: column;
  align-items: center;
}