.store {
  padding: 3.2rem 1.6rem;
  background: var(--very-light-white);
}

.store-title span {
  margin-bottom: 0;
}

.store-title h1 {
  font-size: 4rem;
  color: var(--main-color);
}

.store-widget {
  height: 80vh;
  background-color: var(--very-light-white);
  border-radius: 32px;
  box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 0.2);
  display: flex;
}

.store-sidebar {
  text-align: center;
  color: var(--main-color-very-light);
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  justify-content: center;
  border-radius: 32px 0 0 32px;
  padding: 1.6rem;
  background-color: var(--main-color);
  max-width: 30rem;
}

.store-sidebar h2 {
  font-size: 3.2rem;
}

.store-sidebar h3 {
  font-size: 2.2rem;
}

.store-sidebar--form {
  accent-color: var(--main-color-very-light);
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  justify-content: center;
}

.store-sidebar--form input {
  font-size: 1.6rem;
  text-align: center;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--very-light-white);
}

.store-sidebar--form select:focus {
  outline-color: var(--main-color-dark);
}

.store-sidebar--form input::placeholder {
  color: var(--main-color-light);
}

.store-sidebar--form input:focus {
  outline-color: var(--main-color-dark);
}

.store-sidebar .store-radio {
  display: flex;
  justify-content: space-around;
}

.store-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-y: auto;
  background-color: #fef2f2;
  border-radius: 0 32px 32px 0;
  padding: 1.6rem;
}

.store-card-container {
  gap: 2.4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.store-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 1.6rem;
  width: 100%;
  border-radius: 16px;
  padding: 1.6rem 2.4rem;
  box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.1);
}

.store-card img {
  align-self: center;
}

.store-category-container {
  display: flex;
  gap: 0.8rem;
}

.store-category {
  font-size: 1rem;
  padding: 0.4rem 0.8rem;
  background-color: rgb(186, 185, 185);
  border-radius: 20px;
}

.store-title span {
  display: inline-block;
}

.store-title {
  display: flex;
  font-weight: 700;
  align-items: flex-start;

  gap: 0.8rem;
  font-size: 2rem;
  color: var(--main-color);
  margin-bottom: 0;
}

.store-card .rarity {
  font-size: 3.2rem;
  top: 1.6rem;
  right: 1.6rem;
  position: absolute;
  font-size: 1.2rem;
  flex: 0 0 auto;
  border-radius: 50%;
  text-align: center;
  width: 1.8rem;
  height: 1.8rem;
  color: var(--main-color-very-light);
  background-color: var(--main-color);
}

.store-price {
  align-self: center;
  justify-self: flex-end;
}
