.store {
--sidebar-movement : 22rem;

  padding: 3.2rem 1.6rem;
  background: var(--very-light-white);
}

.store-title span {
  margin-bottom: 0;
}

.store-title h1 {
  font-size: 4rem;
  color: var(--main-color);
  margin-bottom: 0rem;
}

.store-widget {
  position: relative;
  height: 80vh;
  background-color: #fef2f2;
  border-radius: 32px;
  box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  overflow: hidden;
}

.store-sidebar {
  text-align: center;
  width: fit-content;
  color: var(--main-color-very-light);
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  justify-content: center;
  border-radius: 32px 0 0 32px;
  padding: 1.6rem;
  background-color: var(--main-color);
  transition: all 0.7s;
}

.store-sidebar h2 {
  font-size: 3.2rem;
}

.store-sidebar h3 {
  font-size: 2.2rem;
}

.store-sidebar--form {
  accent-color: var(--main-color-very-light);
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  justify-content: center;
}

.store-sidebar--form input {
    color: var(--main-color-very-light);
  font-size: 1.8rem;
  text-align: center;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--very-light-white);
}

.store-sidebar--form select:focus {
  outline-color: var(--main-color-dark);
}

.store-sidebar--form input::placeholder {
  color: var(--main-color-light);
}

.store-sidebar--form input:focus {
  outline-color: var(--main-color-dark);
}

.store-sidebar .store-radio {
  display: flex;
  justify-content: space-around;
}

.store-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #fef2f2;
  border-radius: 0 32px 32px 0;
  padding: 1.6rem;
}

.store-padding{
    padding: 1.6rem 1.6rem;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.store-card-container {
    gap: 1.6rem;
  display: inline-flex;
  flex-direction: row;
  width: fit-content;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.store-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 18rem;
    border-radius: 16px;
    padding: 1.6rem 1.6rem;
    box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.1);
    position: relative;

}

.store-card img {
  align-self: center;
  height: 5.6rem;
  width: 5.6rem;
}

.store-category-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.8rem;
}

.store-category {
    color: var(--main-color-very-light);
    font-weight: 500;
    letter-spacing: 0.5px;
  font-size: 1rem;
  padding: 0.4rem 0.8rem;
  background-color: var(--main-color-dark);
  border-radius: 20px;
}

.store-title span {
    font-size: 1.6rem;
  display: inline-block;
}

.store-title {
  display: flex;
  font-weight: 700;
  text-align: center;
  justify-content: center;
  gap: 0.8rem;
  font-size: 2rem;
  color: var(--main-color);
}
.store-card .rarity {
  font-size: 3.2rem;
  top: 1.6rem;
  right: 1.6rem;
  position: absolute;
  font-size: 1.2rem;
  flex: 0 0 auto;
  border-radius: 50%;
  text-align: center;
  width: 1.8rem;
  height: 1.8rem;
  color: var(--main-color-very-light);
  background-color: var(--main-color);
}

.store-price {
  align-self: center;
  justify-self: flex-end;
}


/***** hide sidebar *****/

/** button **/


.toggle-sidebar{
    border: none;
    background-color: transparent;
    position: absolute;
    top:1.6rem;
    left: 1.6rem;
    display: flex;
    align-items: center;
    justify-self: center;
}

.toggle-sidebar svg{
    fill: var(--main-color);
    width: 3.2rem;
    height: 3.2rem;
    transition: all 0.2s;
}



.store-sidebar{
    margin-left: -22rem;
    opacity: 0;
}

.store-main{
    margin-left: -3.6rem;
}

.sidebaron .store-sidebar{
    margin-left: 0;
    opacity: 100;
}

.sidebaron .store-main{
    margin-left: 0;
}


.sidebaron .toggle-sidebar svg{
    fill: var(--main-color-very-light);
}

.toggle-sidebar:hover svg{
    fill: var(--main-color-dark);
}